*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
  width: 1200px;
  margin: 0 auto;
}

.chart {
  display: flex;
  justify-content: space-between;
}

.chart__apiNumber {
  margin-top: 30px;
  font-size: 30px;
}